-- DropForeignKey
ALTER TABLE "cash_advances" DROP CONSTRAINT "cash_advances_field_supervisor_id_fkey";

-- DropForeignKey
ALTER TABLE "cash_advances" DROP CONSTRAINT "cash_advances_issued_by_fkey";

-- DropForeignKey
ALTER TABLE "cash_expense_audits" DROP CONSTRAINT "cash_expense_audits_actor_id_fkey";

-- DropForeignKey
ALTER TABLE "cash_expense_audits" DROP CONSTRAINT "cash_expense_audits_expense_id_fkey";

-- DropForeignKey
ALTER TABLE "cash_expenses" DROP CONSTRAINT "cash_expenses_appealed_by_fkey";

-- DropForeignKey
ALTER TABLE "cash_expenses" DROP CONSTRAINT "cash_expenses_approved_by_fkey";

-- DropForeignKey
ALTER TABLE "cash_expenses" DROP CONSTRAINT "cash_expenses_cash_advance_id_fkey";

-- DropForeignKey
ALTER TABLE "cash_expenses" DROP CONSTRAINT "cash_expenses_created_by_fkey";

-- DropForeignKey
ALTER TABLE "cash_expenses" DROP CONSTRAINT "cash_expenses_rejected_by_fkey";

-- DropForeignKey
ALTER TABLE "cash_expenses" DROP CONSTRAINT "cash_expenses_resolved_by_fkey";

-- DropForeignKey
ALTER TABLE "cash_expenses" DROP CONSTRAINT "cash_expenses_trip_id_fkey";

-- DropForeignKey
ALTER TABLE "cash_expenses" DROP CONSTRAINT "cash_expenses_vehicle_id_fkey";

-- DropForeignKey
ALTER TABLE "sites" DROP CONSTRAINT "sites_client_id_fkey";

-- DropForeignKey
ALTER TABLE "trip_assignments" DROP CONSTRAINT "trip_assignments_driver_id_fkey";

-- DropForeignKey
ALTER TABLE "trip_assignments" DROP CONSTRAINT "trip_assignments_field_supervisor_id_fkey";

-- DropForeignKey
ALTER TABLE "trip_assignments" DROP CONSTRAINT "trip_assignments_trip_id_fkey";

-- DropForeignKey
ALTER TABLE "trip_assignments" DROP CONSTRAINT "trip_assignments_vehicle_id_fkey";

-- DropForeignKey
ALTER TABLE "trip_events" DROP CONSTRAINT "trip_events_created_by_user_fkey";

-- DropForeignKey
ALTER TABLE "trip_events" DROP CONSTRAINT "trip_events_trip_id_fkey";

-- DropForeignKey
ALTER TABLE "trips" DROP CONSTRAINT "trips_client_id_fkey";

-- DropForeignKey
ALTER TABLE "trips" DROP CONSTRAINT "trips_created_by_fkey";

-- DropForeignKey
ALTER TABLE "trips" DROP CONSTRAINT "trips_financial_closed_by_fkey";

-- DropForeignKey
ALTER TABLE "trips" DROP CONSTRAINT "trips_general_supervisor_id_fkey";

-- DropForeignKey
ALTER TABLE "trips" DROP CONSTRAINT "trips_site_id_fkey";

-- DropForeignKey
ALTER TABLE "vehicle_portfolio" DROP CONSTRAINT "vehicle_portfolio_field_supervisor_id_fkey";

-- DropForeignKey
ALTER TABLE "vehicle_portfolio" DROP CONSTRAINT "vehicle_portfolio_vehicle_id_fkey";

-- DropIndex
DROP INDEX "users_phone_key";

-- DropIndex
DROP INDEX "vehicles_plate_number_key";

-- AlterTable
ALTER TABLE "cash_advances" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "cash_expense_audits" ALTER COLUMN "actor_id" DROP NOT NULL;

-- AlterTable
ALTER TABLE "cash_expenses" DROP COLUMN "appeal_status",
DROP COLUMN "resolution_notes",
ADD COLUMN     "expense_source" TEXT NOT NULL DEFAULT 'CASH',
ADD COLUMN     "maintenance_work_order_id" UUID;

-- AlterTable
ALTER TABLE "clients" DROP COLUMN "is_active";

-- AlterTable
ALTER TABLE "sites" DROP COLUMN "address",
DROP COLUMN "is_active";

-- AlterTable
ALTER TABLE "trip_assignments" DROP COLUMN "driver_id",
DROP COLUMN "is_active",
ADD COLUMN     "status" TEXT NOT NULL DEFAULT 'ACTIVE',
ALTER COLUMN "field_supervisor_id" SET NOT NULL;

-- AlterTable
ALTER TABLE "trip_events" ALTER COLUMN "created_by_user" SET NOT NULL;

-- AlterTable
ALTER TABLE "trips" DROP COLUMN "general_supervisor_id",
DROP COLUMN "notes",
DROP COLUMN "scheduled_at",
DROP COLUMN "trip_type";

-- AlterTable
ALTER TABLE "users" DROP COLUMN "full_name",
DROP COLUMN "is_active",
DROP COLUMN "password_hash",
DROP COLUMN "phone",
ADD COLUMN     "password" TEXT NOT NULL,
ALTER COLUMN "email" SET NOT NULL,
ALTER COLUMN "role" SET DEFAULT 'USER',
ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "vehicle_portfolio" DROP COLUMN "updated_at";

-- AlterTable
ALTER TABLE "vehicles" DROP COLUMN "model",
DROP COLUMN "plate_number",
DROP COLUMN "year",
ADD COLUMN     "current_odometer" INTEGER,
ADD COLUMN     "display_name" TEXT,
ADD COLUMN     "gps_device_id" TEXT,
ADD COLUMN     "is_active" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "plate_no" TEXT NOT NULL,
ALTER COLUMN "status" SET DEFAULT 'AVAILABLE';

-- DropTable
DROP TABLE "drivers";

-- CreateTable
CREATE TABLE "maintenance_work_orders" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "vehicle_id" UUID NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "type" TEXT NOT NULL DEFAULT 'CORRECTIVE',
    "vendor_name" TEXT,
    "opened_at" TIMESTAMPTZ(6),
    "started_at" TIMESTAMPTZ(6),
    "completed_at" TIMESTAMPTZ(6),
    "odometer" INTEGER,
    "notes" TEXT,
    "created_by" UUID,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "maintenance_work_orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "maintenance_work_order_events" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "work_order_id" UUID NOT NULL,
    "event_type" TEXT NOT NULL,
    "actor_id" UUID,
    "notes" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "payload" JSONB,

    CONSTRAINT "maintenance_work_order_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "parts" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "part_number" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "brand" TEXT,
    "unit" TEXT,
    "min_stock" INTEGER,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "parts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "inventory_issues" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "work_order_id" UUID NOT NULL,
    "issued_by" UUID,
    "issued_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "notes" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "inventory_issues_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "inventory_issue_lines" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "issue_id" UUID NOT NULL,
    "part_id" UUID NOT NULL,
    "qty" DECIMAL(12,3) NOT NULL,
    "unit_cost" DECIMAL(12,2) NOT NULL,
    "total_cost" DECIMAL(12,2) NOT NULL,
    "notes" TEXT,

    CONSTRAINT "inventory_issue_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "work_order_installations" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "work_order_id" UUID NOT NULL,
    "vehicle_id" UUID NOT NULL,
    "part_id" UUID NOT NULL,
    "qty_installed" DECIMAL(12,3) NOT NULL,
    "installed_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "odometer_at_install" INTEGER,
    "installed_by" TEXT,
    "warranty_until_date" TIMESTAMPTZ(6),
    "warranty_until_km" INTEGER,
    "notes" TEXT,

    CONSTRAINT "work_order_installations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "post_maintenance_reports" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "work_order_id" UUID NOT NULL,
    "checked_by" UUID,
    "checked_at" TIMESTAMPTZ(6),
    "road_test_result" TEXT,
    "checklist_json" JSONB,
    "remarks" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "post_maintenance_reports_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "maintenance_work_orders_vehicle_id_idx" ON "maintenance_work_orders"("vehicle_id");

-- CreateIndex
CREATE INDEX "maintenance_work_orders_status_idx" ON "maintenance_work_orders"("status");

-- CreateIndex
CREATE INDEX "maintenance_work_orders_type_idx" ON "maintenance_work_orders"("type");

-- CreateIndex
CREATE INDEX "maintenance_work_orders_opened_at_idx" ON "maintenance_work_orders"("opened_at");

-- CreateIndex
CREATE INDEX "maintenance_work_order_events_work_order_id_idx" ON "maintenance_work_order_events"("work_order_id");

-- CreateIndex
CREATE INDEX "maintenance_work_order_events_event_type_idx" ON "maintenance_work_order_events"("event_type");

-- CreateIndex
CREATE UNIQUE INDEX "parts_part_number_key" ON "parts"("part_number");

-- CreateIndex
CREATE INDEX "parts_name_idx" ON "parts"("name");

-- CreateIndex
CREATE INDEX "inventory_issues_work_order_id_idx" ON "inventory_issues"("work_order_id");

-- CreateIndex
CREATE INDEX "inventory_issues_issued_at_idx" ON "inventory_issues"("issued_at");

-- CreateIndex
CREATE INDEX "inventory_issue_lines_issue_id_idx" ON "inventory_issue_lines"("issue_id");

-- CreateIndex
CREATE INDEX "inventory_issue_lines_part_id_idx" ON "inventory_issue_lines"("part_id");

-- CreateIndex
CREATE INDEX "work_order_installations_work_order_id_idx" ON "work_order_installations"("work_order_id");

-- CreateIndex
CREATE INDEX "work_order_installations_vehicle_id_idx" ON "work_order_installations"("vehicle_id");

-- CreateIndex
CREATE INDEX "work_order_installations_part_id_idx" ON "work_order_installations"("part_id");

-- CreateIndex
CREATE INDEX "work_order_installations_installed_at_idx" ON "work_order_installations"("installed_at");

-- CreateIndex
CREATE UNIQUE INDEX "post_maintenance_reports_work_order_id_key" ON "post_maintenance_reports"("work_order_id");

-- CreateIndex
CREATE INDEX "post_maintenance_reports_checked_at_idx" ON "post_maintenance_reports"("checked_at");

-- CreateIndex
CREATE INDEX "cash_advances_field_supervisor_id_idx" ON "cash_advances"("field_supervisor_id");

-- CreateIndex
CREATE INDEX "cash_advances_status_idx" ON "cash_advances"("status");

-- CreateIndex
CREATE INDEX "cash_expense_audits_expense_id_idx" ON "cash_expense_audits"("expense_id");

-- CreateIndex
CREATE INDEX "cash_expenses_cash_advance_id_idx" ON "cash_expenses"("cash_advance_id");

-- CreateIndex
CREATE INDEX "cash_expenses_trip_id_idx" ON "cash_expenses"("trip_id");

-- CreateIndex
CREATE INDEX "cash_expenses_vehicle_id_idx" ON "cash_expenses"("vehicle_id");

-- CreateIndex
CREATE INDEX "cash_expenses_approval_status_idx" ON "cash_expenses"("approval_status");

-- CreateIndex
CREATE INDEX "cash_expenses_expense_source_idx" ON "cash_expenses"("expense_source");

-- CreateIndex
CREATE INDEX "cash_expenses_maintenance_work_order_id_idx" ON "cash_expenses"("maintenance_work_order_id");

-- CreateIndex
CREATE INDEX "sites_client_id_idx" ON "sites"("client_id");

-- CreateIndex
CREATE INDEX "trip_assignments_trip_id_idx" ON "trip_assignments"("trip_id");

-- CreateIndex
CREATE INDEX "trip_assignments_vehicle_id_idx" ON "trip_assignments"("vehicle_id");

-- CreateIndex
CREATE INDEX "trip_assignments_field_supervisor_id_idx" ON "trip_assignments"("field_supervisor_id");

-- CreateIndex
CREATE INDEX "trip_events_trip_id_idx" ON "trip_events"("trip_id");

-- CreateIndex
CREATE INDEX "trip_events_event_type_idx" ON "trip_events"("event_type");

-- CreateIndex
CREATE INDEX "trips_client_id_idx" ON "trips"("client_id");

-- CreateIndex
CREATE INDEX "trips_site_id_idx" ON "trips"("site_id");

-- CreateIndex
CREATE INDEX "trips_status_idx" ON "trips"("status");

-- CreateIndex
CREATE INDEX "trips_financial_status_idx" ON "trips"("financial_status");

-- CreateIndex
CREATE INDEX "vehicle_portfolio_vehicle_id_idx" ON "vehicle_portfolio"("vehicle_id");

-- CreateIndex
CREATE INDEX "vehicle_portfolio_field_supervisor_id_idx" ON "vehicle_portfolio"("field_supervisor_id");

-- CreateIndex
CREATE UNIQUE INDEX "vehicles_plate_no_key" ON "vehicles"("plate_no");

-- AddForeignKey
ALTER TABLE "sites" ADD CONSTRAINT "sites_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "trips" ADD CONSTRAINT "trips_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "trips" ADD CONSTRAINT "trips_site_id_fkey" FOREIGN KEY ("site_id") REFERENCES "sites"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "trips" ADD CONSTRAINT "trips_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "trip_assignments" ADD CONSTRAINT "trip_assignments_trip_id_fkey" FOREIGN KEY ("trip_id") REFERENCES "trips"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "trip_assignments" ADD CONSTRAINT "trip_assignments_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "vehicles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "trip_assignments" ADD CONSTRAINT "trip_assignments_field_supervisor_id_fkey" FOREIGN KEY ("field_supervisor_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "trip_events" ADD CONSTRAINT "trip_events_trip_id_fkey" FOREIGN KEY ("trip_id") REFERENCES "trips"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "trip_events" ADD CONSTRAINT "trip_events_created_by_user_fkey" FOREIGN KEY ("created_by_user") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vehicle_portfolio" ADD CONSTRAINT "vehicle_portfolio_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "vehicles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "vehicle_portfolio" ADD CONSTRAINT "vehicle_portfolio_field_supervisor_id_fkey" FOREIGN KEY ("field_supervisor_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_advances" ADD CONSTRAINT "cash_advances_field_supervisor_id_fkey" FOREIGN KEY ("field_supervisor_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_advances" ADD CONSTRAINT "cash_advances_issued_by_fkey" FOREIGN KEY ("issued_by") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_expenses" ADD CONSTRAINT "cash_expenses_cash_advance_id_fkey" FOREIGN KEY ("cash_advance_id") REFERENCES "cash_advances"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_expenses" ADD CONSTRAINT "cash_expenses_trip_id_fkey" FOREIGN KEY ("trip_id") REFERENCES "trips"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_expenses" ADD CONSTRAINT "cash_expenses_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "vehicles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_expenses" ADD CONSTRAINT "cash_expenses_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_expenses" ADD CONSTRAINT "cash_expenses_approved_by_fkey" FOREIGN KEY ("approved_by") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_expenses" ADD CONSTRAINT "cash_expenses_rejected_by_fkey" FOREIGN KEY ("rejected_by") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_expenses" ADD CONSTRAINT "cash_expenses_resolved_by_fkey" FOREIGN KEY ("resolved_by") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_expenses" ADD CONSTRAINT "cash_expenses_maintenance_work_order_id_fkey" FOREIGN KEY ("maintenance_work_order_id") REFERENCES "maintenance_work_orders"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_expense_audits" ADD CONSTRAINT "cash_expense_audits_expense_id_fkey" FOREIGN KEY ("expense_id") REFERENCES "cash_expenses"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "maintenance_work_orders" ADD CONSTRAINT "maintenance_work_orders_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "vehicles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "maintenance_work_order_events" ADD CONSTRAINT "maintenance_work_order_events_work_order_id_fkey" FOREIGN KEY ("work_order_id") REFERENCES "maintenance_work_orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "inventory_issues" ADD CONSTRAINT "inventory_issues_work_order_id_fkey" FOREIGN KEY ("work_order_id") REFERENCES "maintenance_work_orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "inventory_issue_lines" ADD CONSTRAINT "inventory_issue_lines_issue_id_fkey" FOREIGN KEY ("issue_id") REFERENCES "inventory_issues"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "inventory_issue_lines" ADD CONSTRAINT "inventory_issue_lines_part_id_fkey" FOREIGN KEY ("part_id") REFERENCES "parts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "work_order_installations" ADD CONSTRAINT "work_order_installations_work_order_id_fkey" FOREIGN KEY ("work_order_id") REFERENCES "maintenance_work_orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "work_order_installations" ADD CONSTRAINT "work_order_installations_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "vehicles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "work_order_installations" ADD CONSTRAINT "work_order_installations_part_id_fkey" FOREIGN KEY ("part_id") REFERENCES "parts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "post_maintenance_reports" ADD CONSTRAINT "post_maintenance_reports_work_order_id_fkey" FOREIGN KEY ("work_order_id") REFERENCES "maintenance_work_orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

